* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
#main {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.mobile {
  background: white;
  gap: 12px;
}

/*      YRONHIII.      */
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.font-general {
  font-size: 14px;
  line-height: 20px;
}
.white {
  color: white;
}
.black {
  color: black;
}
.Img {
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.writing-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.bicig {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: rgba(245, 245, 247, 1);
}
.product {
  font-size: 30px;
  line-height: 36px;
}
.hello {
  font-size: 18px;
  line-height: 120%;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.button1 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #0071e3;
}
.button2 {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid #2997ff;
  color: #2997ff;
}
/*     section 1.    */
.navigation {
  height: 121px;
}
.menu {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 15px;
}
.menu-right {
  gap: 31px;
}
.icon {
  display: flex;
  width: 17px;
  height: 48px;
  align-items: center;
  margin: 0;
}
.menu-bicig {
  height: 73px;
  padding-left: 31px;
  padding-right: 31px;
}

/*   section 2 */

.Pro {
  background-image: url(/pro.jpg);
  align-items: end;
}

.pro-writing {
  padding-bottom: 36px;
}

/*  section 3 */
.iphone16 {
  background-image: url(/iphone16.jpg);
  align-items: start;
}
.iphone16-writing {
  padding-top: 36px;
}
.button3 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: white;
}
.button4 {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid white;
}
.gift {
  background-image: url(./gift.jpg);
  display: none;
}
/* section 4 */
.ipad-air {
  background-image: url(./ipad-air.jpg);
  justify-content: space-between;
}
.ipad-air-writing {
  padding-top: 36px;
}
.two-sizes {
  font-size: 18px;
  line-height: 32px;
  padding-top: 4px;
  color: black;
}
.hello-colorful {
  font-size: 14px;
  line-height: 18px;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 36px;
}
.airpod-web {
  background-image: url(./airpods-web.jpg);
  align-items: end;
  display: none;
}
/* section 5 */
.mid1 {
  background-image: url(./airpods4.jpg);
  align-items: end;
}
.airpods4-writing {
  padding-bottom: 54px;
  width: 241px;
  align-items: center;
  gap: 20px;
}
.airpods4-bicig {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: rgba(245, 245, 247, 1);
}
.iconic {
  font-size: 18px;
  line-height: 20px;
}
/* section 6 */
.mid2 {
  background-image: url(./watch.jpg);
  justify-content: start;
}
.watch-writing {
  padding-top: 46px;
  width: 235px;
}
.watch-product {
  font-size: 28px;
  line-height: normal;
  gap: 4px;
}
.series10 {
  font-size: 13px;
  line-height: normal;
}
.thinstant {
  font-size: 18px;
  line-height: 25px;
}
.sec5-6 {
  display: flex;
  flex-direction: column;
}
/* section 7 */
.mid3 {
  background-image: url(/mac-air.jpg);
  align-items: start;
}
.mac-writing {
  padding-top: 42px;
}
/* section 8 */
.mid4 {
  background-image: url(./emoji.png);
  align-items: start;
}
.emoji-writing {
  padding-top: 47px;
  width: 257px;
}
/* section 9 */
.mid5 {
  background-image: url(./deals.jpg);
  align-items: end;
}
.deals-writing {
  padding-bottom: 47px;
  width: 314px;
}
.thousand {
  font-size: 18px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
/* section 10 */
.mid6 {
  background-image: url(./trade.jpg);
  align-items: start;
}
.trade-writing {
  padding-top: 51px;
  padding-left: 32px;
  padding-right: 32px;
}
.card {
  background-image: url(./card-web.jpg);
  display: none;
}
/* section 11 scroll */
.movie {
  gap: 16px;
  justify-content: center;
}
.scroll-container {
  gap: 16px;
  overflow: scroll;
}
.scroll {
  width: fit-content;
}
.loc1 {
  padding-left: 20px;
}
.tsegnuud {
  width: 220px;
  height: 8px;
  justify-content: space-around;
}
.tseg {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
}
.tseg1 {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.42);
}
.movie-tablet {
  gap: 16px;
  display: none;
}
.web-movie {
  display: none;
}
.web-music {
  display: none;
}
@media (max-width: 767px) {
  body {
    background-color: green;
  }
  .tab-music {
    display: none;
  }
  .navigation2 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: red;
  }
  .navigation2 {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    gap: 12px;
  }
  .container2 {
    display: none;
  }
  .Pro {
    background-image: url(/pro2.jpg) !important;
    width: 100%;
    align-items: start;
  }
  .pro-writing {
    padding-top: 58px;
  }
  .iphone16 {
    background-image: url(/iphone16-2.jpg);
    align-items: start;
  }
  .ipad-air {
    background-image: url(./ipad-air-2.jpg);
    justify-content: space-between;
  }
  .mid1 {
    background-image: url(./airpods4.jpg);
    align-items: end;
    width: 48vw;
    height: 50vh;
  }
  .mid2 {
    background-image: url(./watch.jpg);
    justify-content: start;
    width: 48vw;
    height: 50vh;
  }
  .mid3 {
    background-image: url(/mac-air.jpg);
    align-items: start;
    width: 48vw;
    height: 50vh;
  }
  .mid4 {
    background-image: url(./emoji.png);
    align-items: start;
    width: 48vw;
    height: 50vh;
  }
  .mid5 {
    background-image: url(./deals.jpg);
    align-items: end;
    width: 48vw;
    height: 50vh;
  }
  .mid6 {
    background-image: url(./trade.jpg);
    align-items: start;
    width: 48vw;
    height: 50vh;
  }
  .movie {
    display: none;
  }
  .movie-tablet {
    gap: 16px;
    display: block;
  }
  .tab-music {
    display: flex;
    overflow: scroll;
    gap: 16px;
  }
  .one {
    gap: 15px;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
  .tab-music3 {
    width: 286px;
    height: 161px;
    background-color: black;
  }
  .movie {
    display: none;
  }
  .web-movie {
    display: none;
  }
  .web-music {
    display: none;
  }
}
@media (min-width: 1024px) {
  body {
    background-color: black;
  }
  .navigation {
    display: none;
  }
  .navigation2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu2 {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 12px;
    line-height: 60px;
  }
  .Pro {
    background-image: url(/pro2.jpg) !important;
    width: 100%;
    align-items: start;
  }
  .pro-writing {
    padding-top: 58px;
  }
  .iphone16 {
    background-image: url(/iphone16-2.jpg);
    align-items: start;
  }
  .gift {
    background-image: url(./gift.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 692px;
    background-position: center;
    background-size: cover;
  }
  .gift-general-writing {
    padding-bottom: 82px;
  }
  .gift-bicig {
    gap: 12px;
  }
  .gift-product {
    font-size: 52px;
    line-height: 60px;
  }
  .gift-jijig-bicig {
    font-size: 24px;
    line-height: 32px;
  }
  .gift-button {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: #0071e3;
  }
  .container {
    display: none;
  }
  .container2 {
    display: grid;
    height: 1500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    gap: 12px;
  }
  .ipad-air {
    background-image: url(./ipad-air.jpg);
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .ipad-air-writing {
    padding-top: 36px;
  }
  .airpod-web {
    background-image: url(./airpods-web.jpg);
    justify-content: end;
    align-items: center;
    display: flex;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .airpod-web-writing {
    gap: 10px;
    padding-bottom: 58px;
  }
  .mid2 {
    background-image: url(./watch-web.jpg);
    justify-content: start;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .mid3 {
    background-image: url(/mac-air.jpg);
    align-items: start;
    width: 100%;
    height: 100%;
  }
  .mid6 {
    background-image: url(./trade.jpg);
    align-items: start;
    width: 100%;
    height: 100%;
  }
  .card {
    background-image: url(./card-web.jpg);
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .movie {
    display: none;
  }
  .web-movie {
    display: flex;
    overflow: scroll;
    gap: 16px;
    height: 100%;
    width: 100%;
  }
  .web-music {
    display: flex;
    overflow: scroll;
    gap: 16px;
    height: 100%;
    width: 100%;
  }
  .tab-music {
    display: none;
  }
}
