* {
  margin: 0;
}

.mobile {
  width: 390px;
  background: white;
  gap: 12px;
}

/*      YRONHIII.      */
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
/*     section 1.    */
.navigation {
  width: 390px;
  height: 121px;
}
.menu {
  width: 390px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.icon {
  display: flex;
  width: 49px;
  height: 48px;
  align-items: center;
  margin: 0;
}
